@include media-breakpoint-up(hdp) {
    html { font-size: 18px; }
}
@include media-breakpoint-up(fhd) {
    html { font-size: 22px; }
}
@include media-breakpoint-up(qhd) {
    html { font-size: 30px; }
}
@include media-breakpoint-up(uhd) {
    html { font-size: 40px; }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
    html { font-size: 14px; }
    .container-fluid { padding: 0 .5rem }
}

@media (max-width: 575.98px) {
    html { font-size: 13px; }
}
