@media (min-width: 1500px) {
    html { font-size: 18px; }
    .container-lg { max-width: 80%; }
}
@media (min-width: 1800px) {
    html { font-size: 22px; }
}
@media (min-width: 2400px) {
    html { font-size: 30px ; }
}
@media (min-width: 3600px) {
    html { font-size: 40px ; }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    html { font-size: 14px; }
}

@media (max-width: 575px) {
    html { font-size: 13px; }
}
