// Color system
//
$colors: ();

$theme-colors: (
    'secondary': #42b983
);

// Typography
//
$font-family-sans-serif: 'Nunito Sans', sans-serif;
// $font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// $font-family-base:            $font-family-sans-serif;

// $font-weight-lighter:       lighter;
// $font-weight-light:         300;
// $font-weight-normal:        400;
// $font-weight-bold:          700;
$font-weight-bolder:        900;

// Options
//
$enable-rounded:                                false;
$enable-prefers-reduced-motion-media-query:     false;

// Body
// $body-bg:       #2c3e50;
// $body-color:    $white;
